@font-face {
	font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
	src: url('./fonts/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/gilroy-regular.woff') format('woff'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
	src: url('./fonts/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/gilroy-bold.woff') format('woff'); /* Chrome < 4, Legacy iOS */
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-orange: #D5B199;
  --color-grey: #FFFFEE;
  --color-grey-light: #FAFAFA;
  --color-grey-2: #f1f1f1;
  --color-hover: #9C7168;
  --color-on-site: #FDAD54;
  --color-team: #AEBA92;
  --color-on-site-pail: #FDBF79;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-black);
}

.main-menu {
  font-size: 18px;
  line-height: 22px;
  list-style: none;
}
.main-menu a {
  color: var(--color-black);
  margin: 15px;
}

.new-history {
  text-transform: uppercase;
  padding: 12px 24px;
  color: var(--color-orange);
  background-color: var(--color-white);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
}

.find-story {
  background-color: var(--color-grey);
}
.find-story h2 {
  font-size: 56px;
  line-height: 69px;
}
.find-story a {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-grey);
  background-color: var(--color-orange);
  text-transform: uppercase;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  padding: 18px 24px;
}

.about {
  background-color: var(--color-grey);
}
.about h2 {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
}
.about a {
  font-size: 18px;
  line-height: 22px;
  color: var(--color-orange);
  background-color: var(--color-grey);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  padding: 18px 24px;
}

.last-stories {
  background-color: var(--color-white);
}

.last-stories h2 {
  font-weight: 400;
  margin: 0;
  font-size: 32px;
  line-height: 38px;
}


.stories-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stories-list li {
  background-color: var(--color-grey-light);
}
.stories-list li:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.stories-list h3 {
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.stories-list a {
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black);

}
.write-us {
  background-color: var(--color-orange);
}
.write-us a {
  font-size: 18px;
  line-height: 22px;
  background-color: var(--color-black);
  color: var(--color-white);
  text-transform: uppercase;
  border: 1px solid var(--color-black);
  border-radius: 5px;
  padding: 12px 24px;
}

.best-stories {
  background-color: var(--color-white);
}
.best-stories h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

.best-item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.best-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}
.best-item a {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-black);
}

.best-item--picture {
  background-color: var(--color-black);
  color: var(--color-white);
}
.best-item--picture h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
}
.best-item--picture a {
  color: var(--color-white);
}
.best-item--picture p {
  color: var(--color-team);
}

footer {
  background-color: var(--color-grey-2);
}

.footer-navigation {
  border-bottom: 1px solid var(--color-black);
}
.footer-menu {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.footer-menu a {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
}
.social ul {
  list-style: none;
}
.social a {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--color-black);
  border-radius: 50%;
}

.privacy h2, .privacy p {
  margin: 0 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.main-menu a:hover,
.stories-list a:hover,
.footer-menu a:hover {
  color: var(--color-hover);
}

.current {
  color: var(--color-on-site) !important;
}

.main-menu a:active,
.footer-menu a:active {
  color: var(--color-orange);
}

.stories-list a:active {
  color: var(--color-orange) !important;
}

.best-stories ul {
  list-style: none;
}

.find-story a:hover {
  background-color: var(--color-on-site);
  border-color: var(--color-on-site);
}

.find-story a:active {
  background-color: var(--color-on-site-pail);
  border-color: var(--color-on-site-pail);
}

.about a:hover,
.new-history:hover {
  color: var(--color-on-site);
  border-color: var(--color-on-site);
}

.about a:active,
.new-history:active {
  color: var(--color-on-site-pail);
  border-color: var(--color-on-site-pail);
}

.stories-list a:hover {
  color: var(--color-hover);
}

.write-us a:hover{
  background-color: var(--color-hover);
}

.write-us a:active{
  opacity: 0.7;
}

.best-stories a:hover {
  color: var(--color-hover);
}

.best-stories a:active {
  color: var(--color-orange);
}
