body {
  box-shadow: 0 0 30px 0#9493CB;
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 116px auto 410px;
  min-height: 100vh;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.main-header {
  display: grid;
}

.main-navigation {
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}
.main-navigation .header-logo {
  justify-self: start;
}
.main-navigation .new-history {
  justify-self: end;
}

.main-menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  /* grid-template-rows: 700px 600px 820px 240px 1026px; */
}

.find-story .container{
  display: grid;
  grid-template-columns: 100px 1fr 720px;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: start;
  align-items: center;
}
.find-story .container::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/-1;
}
.find-story img {
  grid-column: -2/-1;
  grid-row: 1/-1;
}
.find-story h2 {
  align-self: end;
  margin: 0;
}
.find-story a {
  align-self: start;
}

.about .container{
  display: grid;
  grid-template-columns: 720px 100px 1fr 160px;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
}
.about .container::before {
  content: "";
  grid-row: 1/-1;
  grid-column: 2/3;
}
.about .container::after {
  content: "";
  grid-row: 1/-1;
  grid-column: -1/-2;
}
.about img {
  grid-row: 1/-1;
  grid-column: 1/2;
}
.about h2 {
  align-self: end;
}
.about a {
  justify-self: start;
  align-self: start;
}

.last-stories {
  display: grid;
  grid-template-rows: 120px 120px 1fr;
  justify-items: center;
  min-height: 820px;
}
.last-stories h2 {
  align-self: end;
}
.stories-list {
  align-self: start;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 30px;
}

.stories-list li {
  min-height: 436px;
  display: flex;
  flex-direction: column;

}
.stories-list img {
  order: -1;
}
.stories-list a {
  margin-top: auto;
  margin-bottom: 30px;
}

.write-us .container {
  min-height: 240px;
  width: 970px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: start;
}
.write-us a {
  grid-row: 1/-1;
  grid-column: -1/-2;
  align-self: center;
  justify-self: end;
}
.write-us h2 {
  align-self: end;
}

.best-stories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr;
}

.best-stories ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.best-stories ul li:first-of-type {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.best-stories ul li:first-of-type img {
  grid-template-columns: 1/2;
}

.main-footer {
  display: grid;
  justify-items: center;
  grid-template-rows: auto 140px 150px auto;
}
.main-footer::before {
  content: "";
}

.footer-navigation {
  display: grid;
  padding: 0 150px;
  width: 700px;

}
.footer-navigation a {
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
}
.footer-navigation ul {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.footer-menu {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
.footer-menu::after{
  content: "";
  grid-column: 3/4;
  grid-row: 1/-1;
}
.footer-menu ul {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
}

.social {
  display: flex;
  align-items: center;
}
.social ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.privacy {
  display: flex;
  flex-direction: row-reverse;
}
